.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
}

.pagination {
    font-size: 25px;
    color: #8E8D8A;
    cursor: pointer;
}

.pagination:hover {
    color: #555553;
}